{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 id='home-title'>Workouts</h1>
    </div>
    <div class="container">
        {% for workout in lift_posts.items %}
            <div class="card">
                <div class="car-boy">
                    <h2>
                        <p>Workout On: {{workout.date.strftime('%Y - %m - %d')}}</p>
                        <p class="card-title" >{{workout.title}}</p>
                        Created by: <a href="{{url_for('users.user_posts', username=workout.author.username)}}">{{workout.author.username}}</a>
                    </h2>
                    <a class="btn btn-primary" href="{{url_for('lift_posts.lift_post', lift_post_id=workout.id)}}">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in lift_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if lift_posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}