{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ post.title }}</h1>
  <h2>Posted by: {{post.author.username}}</h2>
  <h3>Workout Date: {{ post.date.strftime('%B %d, %Y') }}</h3>
  <p>{{post.lift}}</p>
  <p>sets: {{post.sets}}</p>
  <p>reps: {{post.reps}}</p>
   {% if post.author == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('lift_posts.update', lift_post_id=post.id) }}">Update</a>
       <br>
       <form action="{{ url_for('lift_posts.delete_post', lift_post_id=post.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}